<%= render "shared/navbar" %>

<div class="spaces-index-container container mt-5">

  <div class="filters-card-spaces">
    <div class="filters-card-spaces-content">
      <h5>Filters</h5>
      <i class="fa-solid fa-filter"></i>
    </div>
  </div>

  <div class="all-spaces">
    <h4>All Spaces</h4>

    <!-- <%= link_to "Dashboard", new_space_path, class: "btn btn-primary" %>-->
    <div class="cards-spaces">
        <% @spaces.each do |space| %>
          <div class="office-space-card">
            <% if space.photo.attached? %>
              <%= cl_image_tag space.photo.key, height: 200, width: 300, crop: :fill %>
              <%= link_to space.name, space_path(space), class: "text-decoration-none text-reset"%>
              <%= space.price.truncate(2) %>
              <p>⭐ <%= space.rating %></p>
            <% else %>
              <%= image_tag "stock/stock_space.jpg", height: 200, width: 300, crop: :fill  %>
              <%= link_to space.name, space_path(space), class: "text-decoration-none text-reset"%>
              <%= space.price.truncate(2) %>
              <p>⭐ <%= space.rating %></p>
            <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
