<div class="container">
  <div class="specific-space">
    <div class="image-container-spaces">
      <% if @space.photo.attached? %>
        <%= cl_image_tag @space.photo.key%>
      <% else %>
        <%= image_tag "stock/stock_space.jpg"%>
      <% end %>
    </div>

    <div>
      <h3><%=@space.name%></h3>
      <div>
        <% @space.rating.to_i.times do %>
          <span><i class="fa-solid fa-star"></i></span>
        <% end %>
        <% (5 - @space.rating.to_i).times do %>
          <span><i class="fa-regular fa-star"></i></span>
        <% end %>
        <%= @space.rating %>
      </div>
      <p><%=@space.address%></p>

      <div class="space-properties">
        <div>
          <p class="specific-property-spac
          <p>Person Capacity</p>
        </div>
        <div>
          <p class="specific-property-spaces"> <%= @space.price.truncate(2) %>€ </p>
          <p>Half Day Rate</p>
        </div>
        <div>
          <p class="specific-property-spaces"> <%= (@space.price*30*2).truncate(2) %>€ </p>
          <p>Monthly Rate</p>
        </div>
      </div>

      <% if user_signed_in? %>
        <div>
          <%= simple_form_for [@space, @booking], data:{ controller: "datepicker", datepicker_disabled_dates_value: @space.unavailable_dates.to_json} do |f| %>
            <%= f.input :booking_start_date,
                        label: "Booking dates",
                        as: :string,
                        input_html: { data: { datepicker_target: "start_date" }, class: "bg-warning"}
                        %>
            <%= f.input :booking_end_date,
                        as: :string,
                        input_html: { data: { datepicker_target: "end_date"}, class: "bg-warning"} %>
            <%= f.button :submit, class: "btn btn-primary mb-3" %>
          <% end %>
        </div>
      <% else %>
        <p>Sign in to book (placeholder)</p>
      <% end %>

    </div>
  </div>




  <div class="map-spaces" style=" width: 1239px; height: 866px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


  <%= link_to "Back To Spaces", spaces_path, class:"btn btn-primary" %>

  <%# Move controller up to top of form and create two new targets %>
</div>
