<div class="navbar-spaces">
  <ul>
    <li>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logos/spaces_logo_horizontal.png" %>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Space", new_space_path, class: "nav-link"%>
      </li>
      <li>
        <%= form_with url: spaces_path, method: :get, class: "d-flex", data:{ controller: "datepicker", datepicker_disabled_dates_value: [].to_json} do %>
          <div class="relative">
            <i class="fa-solid fa-magnifying-glass absolute"></i>
            <%= text_field_tag :query,
              params[:query],
              class: "ps-5 input-spaces searchbar-spaces form-input",
              placeholder: "      Search spaces..."
            %>
          </div>
          <div class="relative">
            <i class="fa-regular fa-calendar absolute"></i>
            <%= text_field_tag :query_s_date,
              params[:query_s_date],
              class: "input-spaces form-input",
              placeholder: "      Start Date",
              as: :string,
              data: { datepicker_target: "start_date" }
            %>
          </div>
          <div class="relative">
            <i class="fa-regular fa-calendar absolute"></i>
            <%= text_field_tag :query_e_date,
              params[:query_e_date],
              class: "input-spaces form-input",
              placeholder: "      End Date",
              as: :string,
              data: { datepicker_target: "end_date" }
            %>
          </div>
          <%= submit_tag "Search", name: "", class: "btn-spaces btn-secondary-spaces" %>
        <% end %>
      </li>

    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
