<div class="navbar-spaces">
  <ul>
    <li>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logos/spaces_logo_horizontal.png" %>
      <% end %>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "New Space", new_space_path, class: "nav-link"%>
      </li>
      <li>
        <input class="input-spaces searchbar-spaces" type="text" placeholder="Spaces in your area...">
      </li>
      <li>
        <input class="input-spaces" type="text" placeholder="Start Date">
      </li>
      <li>
        <input class="input-spaces" type="text" placeholder="End Date">
      </li>
      <li>
        <a href="" class="btn-spaces btn-secondary-spaces">Search</a>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>
  </ul>
</div>
