<div class="dashboard">
  <%# My spaces %>
  <%= render "dashboard/tabs_bar"%>
  <ul>
    <% @spaces.each do |space| %>
      <li>
        <%= render "dashboard/my_space_card", space: space, bookings: space.bookings %>
      </li>
    <% end %>
  </ul>

  <ul>

    <% @spaces.each do |space| %>
      <li>
        <h2><%= space.name.upcase %></h2>
        <h3><%= space.price %></h3>
        <h3>⭐ <%= space.rating %></h3>
        <%= link_to "🗑️", space_path(space), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "text-decoration-none"%>
        <%= link_to "Edit space", edit_space_path(space), class: "text-decoration-none"%>
      </li>
    <%end%>
  </ul>

  <%# My bookings %>
  <ul>
    <% @bookings.each do |booking| %>
      <li>
        <%= render "dashboard/my_booking_card", booking: booking %>
      </li>
      <%end%>
  </ul>
</div>
