<h1>FIND AND SHARE WORK SPACES</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium ut esse vero delectus minima, at quos accusamus vitae natus provident minus, perferendis omnis et, blanditiis amet saepe. Vitae, omnis quos.</p>
<%= link_to "See all spaces", spaces_path, class: "text-decoration-none text-reset btn btn-primary"%>

<h1>FEATURED SPACES</h1>

<div class="cards-spaces">
  <% @spaces_3s.each do |space| %>
    <div class="office-space-card">
      <% if space.photo.attached? %>
        <%= cl_image_tag space.photo.key, height: 200, width: 300, crop: :fill %>
        <%= link_to space.name, space_path(space), class: "text-decoration-none text-reset"%>
        <%= space.price.truncate(2) %>
        <p>⭐ <%= space.rating %></p>
      <% else %>
        <%= image_tag "stock/stock_space.jpg", height: 200, width: 300, crop: :fill  %>
        <%= link_to space.name, space_path(space), class: "text-decoration-none text-reset"%>
        <%= space.price.truncate(2) %>
        <p>⭐ <%= space.rating %></p>
      <% end %>
    </div>
  <% end %>
</div>
